<div class="container">
  <h1 class="mt-4 text-center">Our-Services</h1>
  <!-- gallery card start -->
  <div class="row pt-5 m-auto">
    <!-- construction container start -->
    <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom bg-white border-white border-0">
        <div
          class="card-custom-img"
          style="
            background-image: url(../../../assets/home-slider/construction_management_jobs.jpg);
          "
        ></div>
        <div class="card-custom-avatar">
          <img
            class="img-fluid"
            src="../../../assets/about-us/download__1_-removebg-preview.png"
            alt="Avatar"
          />
        </div>
        <div class="card-body" style="overflow-y: auto;">
          <h4 class="card-title">Construction</h4>
          <p class="card-text">
            Our construction management services provide our customers with the maximum possible value.
          </p>
        </div>
        <div
          class="card-footer"
          style="background: inherit; border-color: inherit;"
        >
          <a routerLink="/construction" class="btn btn-primary">KNOW MORE</a>
        </div>
      </div>
    </div>
    <!-- construction container end -->

    <!-- driver container start -->
    <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom bg-white border-white border-0">
        <div
          class="card-custom-img"
          style="
            background-image: url(../../../assets/index-gallery/truck_drivers_in_the_us.jpg);
          "
        ></div>
        <div class="card-custom-avatar">
          <img
            class="img-fluid"
            src="../../../assets/about-us/download__1_-removebg-preview.png"
            alt="Avatar"
          />
        </div>
        <div class="card-body" style="overflow-y: auto;">
          <h4 class="card-title">Driver</h4>
          <p class="card-text">
            Our experienced team of drivers ensures timely transportation of construction materials and equipment.
          </p>
        </div>
        <div
          class="card-footer"
          style="background: inherit; border-color: inherit;"
        >
          <a routerLink="/driver" class="btn btn-primary">KNOW MORE</a>
        </div>
      </div>
    </div>
    <!-- driver container end-->

    <!-- Restaurant & Hotel container start -->
    <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom bg-white border-white border-0">
        <div
          class="card-custom-img"
          style="
            background-image: url(../../../assets/index-gallery/hotel_restaurant.jpeg);
          "
        ></div>
        <div class="card-custom-avatar">
          <img
            class="img-fluid"
            src="../../../assets/about-us/download__1_-removebg-preview.png"
            alt="Avatar"
          />
        </div>
        <div class="card-body" style="overflow-y: auto;">
          <h4 class="card-title">Restaurant & Hotel</h4>
          <p class="card-text">
            Our restaurant offers a diverse menu featuring exquisite dishes from various cuisines around the world.
          </p>
        </div>
        <div
          class="card-footer"
          style="background: inherit; border-color: inherit;"
        >
          <a routerLink="/restaurant-hotel" class="btn btn-primary">KNOW MORE</a>
        </div>
      </div>
    </div>
    <!-- Restaurant & Hotel container end-->
  </div>
  <div class="row pt-5 m-auto">
    <!-- Refining Chemical container start -->
    <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom bg-white border-white border-0">
        <div
          class="card-custom-img"
          style="
            background-image: url(../../../assets/index-gallery/refining_chemical.jpg);
          "
        ></div>
        <div class="card-custom-avatar">
          <img
            class="img-fluid"
            src="../../../assets/about-us/download__1_-removebg-preview.png"
            alt="Avatar"
          />
        </div>
        <div class="card-body" style="overflow-y: auto;">
          <h4 class="card-title">Refining Chemical</h4>
          <p class="card-text">
            Our specialized chemical processes enhance the quality and purity of raw materials used in various industries.
          </p>
        </div>
        <div
          class="card-footer"
          style="background: inherit; border-color: inherit;"
        >
          <a routerLink="/refining-chemical" class="btn btn-primary">KNOW MORE</a>
        </div>
      </div>
    </div>
    <!-- Refining Chemical container end -->

    <!-- Factory Workers container start -->
    <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom bg-white border-white border-0">
        <div
          class="card-custom-img"
          style="
            background-image: url(../../../assets/index-gallery/factory_worker.avif);
          "
        ></div>
        <div class="card-custom-avatar">
          <img
            class="img-fluid"
            src="../../../assets/about-us/download__1_-removebg-preview.png"
            alt="Avatar"
          />
        </div>
        <div class="card-body" style="overflow-y: auto;">
          <h4 class="card-title">Factory Workers</h4>
          <p class="card-text">
            We provide skilled and trained factory workers with expertise in various industries and production processes.
          </p>
        </div>
        <div
          class="card-footer"
          style="background: inherit; border-color: inherit;"
        >
          <a routerLink="/factory-workers" class="btn btn-primary">KNOW MORE</a>
        </div>
      </div>
    </div>
    <!-- Factory Workers container end-->

    <!-- Food Packaging container start -->
    <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom bg-white border-white border-0">
        <div
          class="card-custom-img"
          style="
            background-image: url(../../../assets/index-gallery/food_packaging.jpg);
          "
        ></div>
        <div class="card-custom-avatar">
          <img
            class="img-fluid"
            src="../../../assets/about-us/download__1_-removebg-preview.png"
            alt="Avatar"
          />
        </div>
        <div class="card-body" style="overflow-y: auto;">
          <h4 class="card-title">Food Packaging</h4>
          <p class="card-text">
            We offer specialized food packaging solutions tailored to the unique requirements of each product.
          </p>
        </div>
        <div
          class="card-footer"
          style="background: inherit; border-color: inherit;"
        >
          <a routerLink="/food-packaging" class="btn btn-primary">KNOW MORE</a>
        </div>
      </div>
    </div>
    <!-- Food Packaging container end-->
  </div>
  <!-- gallery card end -->
</div>
