 <!-- ======= About Us Section ======= -->
 <section id="about" class="about pt-5">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">
      <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
        <img src="../../../assets/home-slider/construction_management_jobs.jpg" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=FFo-KeX_AAk" class="glightbox play-btn"></a>
      </div>
      <div class="col-lg-6 content order-last  order-lg-first">
        <h3>Construction Services for Global Industries Company</h3>
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-diagram-3"></i>
            <div>
              <h5>Our construction management services yield the greatest possible benefits to our customers.</h5>
              <p>Whether it’s pre-construction, constructability or safety processes, we have established ourselves as a world leader in construction services.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-fullscreen-exit"></i>
            <div>
              <h5>Our experience spans from the Arctic conditions in Alaska.</h5>
              <p>Canada and Russia to the unique challenges presented by the desert settings of Saudi Arabia and Australia. These extreme environments require expertise to design and build safe, cost-efficient facilities which have minimal infrastructure – a scarcity of skilled labor and long logistics chains.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-broadcast"></i>
            <div>
              <h5>The key to our successful history in construction is flexibility.</h5>
              <p> Not constrained by any company model, we consider each opportunity a standalone effort, which requires a unique approach to the construction of the project. We understand that every project faces a unique set of challenges and changes, and provides our customers with the confidence that we can adapt to a changing environment.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
