 <!-- ======= About Us Section ======= -->
 <section id="about" class="about pt-5">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">
      <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
        <img src="../../../assets/index-gallery/truck_drivers_in_the_us.jpg" class="img-fluid" alt="">
        <a href="https://www.youtube.com/results?search_query=truck+driver+vlog+video" class="glightbox play-btn"></a>
      </div>
      <div class="col-lg-6 content order-last  order-lg-first">
        <h3>Driver Services for Global Industries Company</h3>
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-diagram-3"></i>
            <div>
              <h5>Logistics and Transportation Management</h5>
              <p>Our logistics experts ensure the efficient movement of goods, optimizing routes and reducing costs.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-fullscreen-exit"></i>
            <div>
              <h5>Heavy Hauling and Oversized Load Handling</h5>
              <p>We specialize in safely transporting oversized loads and heavy equipment for Industries projects.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-broadcast"></i>
            <div>
              <h5>Timely Material Delivery</h5>
              <p> Our drivers guarantee the just-in-time delivery of materials, minimizing project delays.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
