<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

      <div class="col-md-5">
        <img src="../../../assets/our-mission/our-mission.avif" class="img-fluid" alt="">
      </div>
      <div class="col-md-7">
        <h3>Our Mission</h3>
        <p class="fst-italic">
          Creating A Digital Twin For BP’s Clair Ridge
        </p>
        <ul>
          <li><i class="bi bi-check"></i> Gloabal Industries Company future-proofed asset operations by delivering a digital solution for BP.</li>
          <li><i class="bi bi-check"></i> Gloabal Industries Company embraced the challenge of change, and the cost, schedule and safety benefits of using new topsides technology offshore on BP’s Quad 204 project.</li>
        </ul>
      </div>
    </div><!-- Features Item -->

    <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="../../../assets/our-mission/our-vision.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 order-2 order-md-1">
        <h3>Our Vission</h3>
        <p class="fst-italic">
          We aspire to be the catalyst for transformative change, setting new standards of excellence and pushing the boundaries of what's possible.
        </p>
        <ul>
          <li><i class="bi bi-check"></i> At Gloabal Industries Company, we envision a world where innovation and sustainability intersect, shaping a brighter future for all."</li>
          <li><i class="bi bi-check"></i> Our vision is to lead in delivering cutting-edge solutions that redefine industries, leaving a lasting positive impact on communities and the environment.</li>
        </ul>
      </div>
    </div><!-- Features Item -->

    <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
      <div class="col-md-5">
        <img src="../../../assets/our-mission/gradient-core-values.avif" class="img-fluid" alt="">
      </div>
      <div class="col-md-7">
        <h3>CORE VALUES</h3>
        <p>Working Together To Make All-Round Customer Savings.</p>
        <ul>
          <li><i class="bi bi-check"></i> Gloabal Industries Company services and advisian combine their technical expertise for complete project success,
            while ensuring customer savings.</li>
          <li><i class="bi bi-check"></i> Here’s where you’ll find case studies on some of our most successful projects and innovations.</li>
        </ul>
      </div>
    </div><!-- Features Item -->
  </div>
</section><!-- End Features Section -->
