<!-- About 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="../../../assets/about-us/about_us.jpg" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="h1 mb-3" style="color: #f3525a;" id="about_us">ABOUT US</h2>
            <h3>The Largest Business Expert !</h3>
            <p class="lead fs-4 text-secondary mb-3">Over the years, we’ve grown our capability and footprint through the acquisition of an incredible collection of companies. Our heritage and the relationships we’ve built over the last 100+ years are very important to us.</p>


            <!-- accordian start -->

            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <p style="color: #f3525a;">The Future</p>

                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>The digital revolution and the global energy shift are causing havoc in our industry in ways that no one could have predicted. The way we operate and what we do now has the potential to appear quite unprofessional.

                      We are now seeing extraordinary change. Despite this unpredictability, there are certain things you can always depend on: we have the experience and history to continue to be a safe pair of hands in the future. And we are united by a similar goal: to create a more sustainable planet for future generations.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <p style="color: #f3525a;">Our History</p>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      We’ve expanded our expertise and reach over the years by acquiring a fantastic group of firms. Our legacy and the ties we’ve formed over the previous century and a half are incredibly significant to us. We’ve accomplished a lot in the previous century, and we’re looking forward to the next.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- accordian end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- our team experts start -->
<section>
  <!-- team header start -->
  <div class="text-center our_people_header">
    <h4 style="color: #f3525a;">OUR PEOPLE</h4>
    <h1>Experts in Fields</h1>
  </div>
  <!-- team header end -->
<div class="our_team_experts">
  <div class="our_team_experts_row">
    <div class="card" style="--bc: #8E9792;--btn: #8E9792;">
      <img src="../../../assets/our-teams/member1.jpg" alt="*">
      <h2>Richard Branson</h2>
      <p class="role">MANAGER</p>
      <a href="" class="text-center">Know More</a>
    </div>
    <div class="card" style="--bc: #C89F9C;--btn: #C89F9C;">
      <img src="../../../assets/our-teams/member2.jpg" alt="*">
      <h2>Daniel Roberto</h2>
      <p class="role">HR MANAGER</p>
      <a href="" class="text-center">Know More</a>
    </div>
    <div class="card" style="--bc: #15307D;--btn: #15307D;">
      <img src="../../../assets/our-teams/member3.jpg" alt="*">
      <h2>Dhony Abraham</h2>
      <p class="role">MARKETING HEAD</p>
      <a href="" class="text-center">Know More</a>
    </div>
  </div>
</div>
</section>
<!-- our team experts end -->
