 <!-- ======= About Us Section ======= -->
 <section id="about" class="about pt-5">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">
      <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
        <img src="../../../assets/index-gallery/food_packaging.jpg" class="img-fluid" alt="">
        <a href="https://www.youtube.com/results?search_query=food+packaging+vlog+video" class="glightbox play-btn"></a>
      </div>
      <div class="col-lg-6 content order-last  order-lg-first">
        <h3>Food Packaging Services for Global Industries Company</h3>
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-diagram-3"></i>
            <div>
              <h5>Customized Packaging Solutions</h5>
              <p>Tailored packaging options designed to meet the unique requirements of each food product.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-fullscreen-exit"></i>
            <div>
              <h5>Food Safety and Preservation</h5>
              <p>Providing packaging materials that meet industry standards for food safety and product preservation.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-broadcast"></i>
            <div>
              <h5>Eco-Friendly Packaging Alternatives</h5>
              <p>Offering sustainable and environmentally-friendly packaging solutions to minimize environmental impact.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
