<div class="teamWrapper">
  <div class="container">
    <h1 class="text-center">Career</h1>
    <p class="text-center" style="color: #f3525a;"><strong>WORK AND BE YOURSELF!</strong> </p>
    <h1 class="text-center">Showing current offers and jobs available</h1>
    <div class="teamGrid">
      <div class="colmun">
        <div class="teamcol">
          <div class="teamcolinner">
            <div class="member-name">
              <h2 class="text-center">Construction</h2>
            </div>
            <div class="member-mail">
              <p class="text-center">
                <a routerLink="/contact-us">Know More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="colmun">
        <div class="teamcol">
          <div class="teamcolinner">
            <div class="member-name">
              <h2 class="text-center">Driver</h2>
            </div>
            <div class="member-mail">
              <p class="text-center">
                <a routerLink="/contact-us">Know More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="colmun">
        <div class="teamcol">
          <div class="teamcolinner">
            <div class="member-name">
              <h2 class="text-center">Restaurant & Hotel</h2>
            </div>
            <div class="member-mail">
              <p class="text-center">
                <a routerLink="/contact-us">Know More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="colmun">
        <div class="teamcol">
          <div class="teamcolinner">
            <div class="member-name">
              <h2 class="text-center">Refining Chemical</h2>
            </div>
            <div class="member-mail">
              <p class="text-center">
                <a routerLink="/contact-us">Know More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="colmun">
        <div class="teamcol">
          <div class="teamcolinner">
            <div class="member-name">
              <h2 class="text-center">Factory Workers</h2>
            </div>
            <div class="member-mail">
              <p class="text-center">
                <a routerLink="/contact-us">Know More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="colmun">
        <div class="teamcol">
          <div class="teamcolinner">
            <div class="member-name">
              <h2 class="text-center">Food Packaging</h2>
            </div>
            <div class="member-mail">
              <p class="text-center">
                <a routerLink="/contact-us">Know More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

